	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/07/2018 13:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: /*url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("..fonts/Flaticon.svg#Flaticon") format("svg"),*/
       url("../fonts/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font/Flaticon.woff") format("woff"),
       url("../fonts/font/Flaticon.ttf") format("truetype"),
       url("..fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	margin-left: 0px;
}

.flaticon-idea-1:before { content: "\f100"; }
.flaticon-idea:before { content: "\f101"; }
.flaticon-discuss-issue:before { content: "\f102"; }
.flaticon-process:before { content: "\f103"; }
.flaticon-development:before { content: "\f104"; }
.flaticon-seo:before { content: "\f105"; }
.flaticon-fist:before { content: "\f100"; }
.flaticon-disinfectant:before { content: "\f101"; }
.flaticon-handicap:before { content: "\f102"; }
.flaticon-support:before { content: "\f103"; }
.flaticon-green:before { content: "\f104"; }
.flaticon-disinfectant:before { content: "\f101"; }
.flaticon-handicap:before { content: "\f102"; }
.flaticon-support:before { content: "\f103"; }
.flaticon-green:before { content: "\f104"; }
.flaticon-student:before { content: "\f105"; }
.flaticon-mail:before { content: "\f106"; }
.flaticon-phone:before { content: "\f107"; }
.flaticon-whatsapp:before { content: "\f108"; }
.flaticon-place:before { content: "\f109"; }}